<!--<div *ngIf="afAuth.user | async as user; else showLogin">-->
  <!--<h1>Hello {{ user.displayName }}!</h1>-->
  <!--<button (click)="logout()">Logout</button>-->
<!--</div>-->
<!--<ng-template #showLogin>-->
  <!--<p>Please login.</p>-->
  <!--<button (click)="login()">Login with Google</button>-->
<!--</ng-template>-->
 <!--&lt;!&ndash;create user with email & pass&ndash;&gt;-->
<!--<br><br>-->
<!--<input type="text" name="user" #user><br><br>-->
<!--<input type="text" name="pass" #pass><br><br>-->
<!--<button (click)="createUser(user.value, pass.value)">Add User</button>-->

<!--<app-login></app-login>-->
<!--<app-register></app-register>-->
<app-dashboard></app-dashboard>
<router-outlet></router-outlet>
